.main-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  h2 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }
  p {
    color: #929292;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.main-movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 50%;
    aspect-ratio: 758 / 1080;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    object-fit: cover;
  }
}

.main-movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    margin-top: 10px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.main-movie-actions {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  svg {
    font-size: 26px;
  }
  .star {
    color: rgba(255, 229, 0, 1);
  }
  .heart {
    color: rgba(192, 57, 43, 1);
  }
  .share {
    color: rgba(93, 159, 69, 1);
  }
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: rgba(141, 17, 200, 1);
  border: none;
  color: white;
  padding: 6px;
  margin-top: 20px;
  border-radius: 3px;

  p {
    color: white;
    font-weight: 600;
  }
}

@media(min-width: 1024px) {
  .main-movie-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    img {
      width: unset;
      height: 400px;
    }
  }

  .main-movie-actions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .main-movie-details {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    min-height: 400px;
    h2 {
      font-size: 64px;
      margin-top: 0;
      overflow: hidden;
    }
    p {
      text-align: left;
      font-size: 28px;
    }

    .year {
      margin-top: -20px;
    }

    .description {
      display: flex;
      font-size: 12px;
      overflow: unset;
      max-height: unset;
      text-overflow: unset;
    }

    .play-button {
      display: flex;
      margin-top: auto;
      width: 150px;
      gap: 0;
      p {
        font-size: 16px;
      }
    }
  }

  .main-movie-ratings {
    width: 200px;
    background-color: rgba(27, 27, 27, 1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-movie-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-movie-rating-stars {
    display: flex;
    svg {
      font-size: 30px;
      color: rgba(51, 51, 51, 1);
    }

    .active {
      color: rgba(255, 184, 0, 1);
    }
  }
}
