.home-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: #1f1f1f;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1f1f1f;
  min-height: calc(100vh - 130px);
  padding: 70px 20px 20px;
  z-index: 1;

  .divider {
    width: 100vw;
    height: 1px;
    background-color: #353535;
    margin-left: -20px;
  }

  .loading {
    display: flex;
    position: absolute;
    color: white;
  }
}

@media(min-width: 1024px) {
  .home-container {
    padding: 150px 100px 20px 100px;
  }
}
