.footer-container {
  display: flex;
  background-color: #1f1f1f;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: auto;

  .movie-logo-image {
    width: 30px;
  }
}
