body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Alata", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  .desktop-hidden {
    display: flex;
  }

  .mobile-hidden {
    display: none;
  }

}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-family: "Alata", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

@media(min-width: 1024px) {
  body {
    overflow-x: hidden;

    .desktop-hidden {
      display: none;
    }

    .mobile-hidden {
      display: flex;
    }
  }
}
